
main {
  height: 100vh;
}

#container-cronometro {
  background-color: rgb(5, 99, 180);
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  height: 100px;
  text-align: center;
}

#cronometro {
  margin-bottom: 10px;
  font-size: 50px;
}