@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--secundary-font);
}

:root {
  font-size: 62.5%; /* 1rem é 10px agora*/

  /* Fonts */

  --main-font: 'Big Shoulders Display', cursive;
  --secundary-font: 'Lexend Deca', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: hsl(0, 0%, 95%);
}

/* Main */

.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 250px;
  height: 400px;
  padding: 40px;
  
}

.card:nth-child(1) {
  background: hsl(31, 77%, 52%);
  border-radius: 5px 0px 0px 5px;
}

.card:nth-child(2) {
  background: hsl(184, 100%, 22%);
}

.card:nth-child(3) {
  background: hsl(179, 100%, 13%);
  border-radius: 0px 5px 5px 0px;
}

.card img {
  width: 35%;
  margin-bottom: 25px;
}

.card h2 {
  color: hsl(0, 0%, 95%);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: var(--main-font);
  margin-bottom: 25px;
  font-weight: 700;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.2rem;
  width: 98%;
  text-align: left;
  line-height: 20px;
  margin-bottom: 45px;
}

.card button {
  padding: 13px 10px;
  border-radius: 50px;
  width: 75%;
  border: none;
  font-weight: 500;
  transition: .6s;
}


.card:nth-child(1) button {
  color: hsl(31, 77%, 52%);
}

.card:nth-child(2) button {
  color: hsl(184, 100%, 22%);
}

.card:nth-child(3) button {
  color: hsl(179, 100%, 13%);
}

.card button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  color: white;
  border: 3px solid white;
}