@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem é 10px agora*/

  /* Fonts */
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Lexend Deca', sans-serif;
}

body {
  background: hsl(233, 47%, 7%);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.card {
  background: hsl(244, 38%, 16%);
  display: flex;
  width: 75%;
  height: 40rem;
  border-radius: 5px;
}

.card-text {
  float: left;
  padding: 70px;
  width: 50%;
}

.card-text h2 {
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
  width: 90%;
}

.card-text strong {
  color: hsl(277, 64%, 61%);
}

.card-text p {
  font-family: var(--secondary-font);
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  
  width: 90%;
  text-align: left;
}






.card-text-values {
  display: flex;
  
  margin-top: 60px;
}

.card-text-values div {
  margin-right: 50px;
}

.card-text-values div span {
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 40px;
}

.card-text-values div h4 {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 11px;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}



.card-image {
  width: 50%;
  float: right;
  background-color: hsl(277, 82%, 29%);
  border-radius: 0 5px 5px 0;
}

.card-image img {
  width: 100%;
  height: 100%;
  float: right;
  transition: 0.6s;
}

.card-image img:hover {
  filter: opacity(0.4); 
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
  