* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(0, 19, 189);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container h1 {
  margin-bottom: 20px;
}

.cronometro {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  padding: 20px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  transition: .6s;
}

.buttons button:hover {
  color: brown;
  background-color: azure;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}