@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem é 10px agora*/

  /* Fonts */
  --main-font: 'Outfit', sans-serif;
}

body {
  background: hsl(217, 54%, 11%);
  font-family: var(--main-font);
}

.main-card-container {
  background-color: hsl(216, 50%, 16%);
  width: 29rem;
  height: 50rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.main-card-image {
  overflow: hidden;
  width: 25rem;
  height: 25rem;
  margin: 20px auto;
  border-radius: 5px;
}

.main-card-image img {
  width: 100%;
  border-radius: 5px;
}

.image-view-hover {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 50%);
  top: 70px;
  width: 25rem;
  height: 25rem;
  opacity: 0;
  border-radius: 5px;
  transition: 0.6s;
}

.image-view-hover img {
  width: 4rem;
}

.main-card-image div:hover {
  opacity: 1;
  cursor: pointer;
}

.main-card-image div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-card-text {
  display: flex;
  flex-direction: column;
  margin: 0 20px 10px 20px;
}

.main-card-text h3 {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  transition: 0.6s;
}

.main-card-text h3:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.main-card-text p {
  color: hsl(215, 33%, 60%);
  font-size: 14px;
  margin-bottom: 20px;
}

.main-card-text-values {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
}

.main-card-text-values img:nth-child(1) {
  width: 1rem;
  height: 1.5rem;
  margin-right: 5px;
}

.main-card-text-values img:nth-child(3) {
  margin-right: 5px;
  width: 1.5rem;
  height: 1.5rem;
}

.main-card-text-values span:nth-child(2) {
  color: hsl(178, 100%, 50%);
  margin-right: 8.5rem;
}

.main-card-text-values span:nth-child(4) {
  color: hsl(215, 33%, 60%);
}

.main-card-user {
  display: flex;
  font-weight: 300;
  padding-top: 15px;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.main-card-user img {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 15px;
}

.main-card-user p {
  margin-top: 5px;
}

.main-card-user strong {
  color: hsl(0, 0%, 100%);
  transition: 0.6s;
}

.main-card-user strong:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}