@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem é 10px agora*/

  /* Fonts */
  --main-font: 'Noto Sans', sans-serif;
}

body {
  background: linear-gradient(45deg, #0008C1, #2146C7, #E6CBA8, #FDF0E0);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
  height: 100vh;
  font-family: var(--main-font);
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* Modal */

.modal-container{
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
  height: 20rem;
  width: 25rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.modal-content-container h1{
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

.grade-details{
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grade-details p{
  color: white;
  text-align: center;
}

.modal-button-container{
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-container button{
  width: 10rem;
  height: 2rem;
  background: none;
  outline: none;
  border: 1px solid rgb(252, 242, 241);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 20px;
}
.modal-button-container button:hover{
  background-color: rgb(83, 82, 82);
}

/* Main */

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
}

.quiz-container {
  background: #D3D3D3;
  width: 55rem;
  height: 48rem;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 30px;
}

.quiz {
  font-size: 20px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.quiz-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.quiz-content {
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
}

.game-options-container{
  width: 100%;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.game-options-container span{
  width: 45%;
  height: 4rem;
  border: 2px solid darkgray;
  border-radius: 20px;
  overflow: hidden;
}

span label{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(22, 22, 22);
}

span label:hover{
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  color: white;
}

input[type="radio"] {
  position: relative;
  display: none;
}


input[type=radio]:checked ~ .option {
  background: #2146C7;
  color: white;
}

.quiz-next {
  
}

.quiz-next button {
  border: none;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  transition: 0.6s;
  background-color: #D3D3D3;
  font-size: 16px;
  font-weight: 700;
}

.quiz-next button:hover {
  background-color: #2146C7;
  cursor: pointer;
  color: white;
}
